# Large datasets
data/huge_job_recommendation_dataset.csv
data/recommendation_clean.csv

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Environment files
.env
.env.*

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db